rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    match /coverImages/{imageId} {
      allow read: if true;
      allow write: if request.auth != null && (request.auth.token.email == 'nanaamadwamena4@gmail.com' || request.auth.token.email == 'princetetteh963@gmail.com' || request.auth.token.email == 'godwinokro2020@gmail.com');
    }
    match /articleContentImages/{imageId} {
      allow read: if true;
      allow write: if request.auth != null && (request.auth.token.email == 'nanaamadwamena4@gmail.com' || request.auth.token.email == 'princetetteh963@gmail.com' || request.auth.token.email == 'godwinokro2020@gmail.com');
    }
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
